@model Ahorcado.MVC.Models.AhorcadoClass
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/Ahorcado/RecursosAhorcado.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ahorcado</title>
</head>
<body>
    <div>
        <h2>Testear conexion</h2>
        <button onclick="testearConexion()">Testear</button>
        @Html.LabelFor(Model => Model.PalabraAAdivinar)
        <input  type="text" onkeydown="ingresarPalbraAAdivinar(this)"/>

    </div>
</body>
</html>
