@model AhorcadoClass
<!DOCTYPE html>
<script src="~/Scripts/Ahorcado/RecursosAhorcado.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ahorcado</title>
</head>
<body>
    <div>
        <br />
        @Html.LabelFor(Model => Model.PalabraAAdivinar)
        <input type="text"id="palAAdiv" /><button onclick="ingresarPalbraAAdivinar()">IngresarPalabra</button>
        <h2 id="paladivin"></h2>
    </div>




    <div>
        <h2>Estado Situación</h2>
        <ul>
            <li>Letras Adivinadas: <div id="estado"></div></li>
            <li>Score: <div id="score"></div></li>
            <li>Vidas Restantes: <div id="vidas"></div></li>
        </ul>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


