@model AhorcadoClass
<!DOCTYPE html>
<script src="~/Scripts/Ahorcado/RecursosAhorcado.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ahorcado</title>
</head>
<body>
    <div>
        <h2>Testear conexion</h2>
        <button onclick="testearConexion()">Testear</button>
        @Html.LabelFor(Model => Model.PalabraAAdivinar)
        <input  type="text" onkeydown="ingresarPalbraAAdivinar(this)"/>

    </div>

    <div>
        <h2>Estado Situación</h2>
        <ul>
            <li>Letras Adivinadas: @Model.PalabraModeloActual</li>
            <li>Score: @Model.Score</li>
            <li>Vidas Restantes: @Model.Vidas</li>
        </ul>
    </div>
</body>
</html>


