@model AhorcadoClass
<!DOCTYPE html>
<script src="~/Scripts/Ahorcado/RecursosAhorcado.js"></script>

<html>
<head>

</head>
<body>
    <div class="container">
        <table class="table-responsive table-bordered" style="background-color:lightgray">
            <thead>
                <tr>
                    <td><h2>Ahorcado</h2></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left">
                        @using (Html.BeginForm("ArriesgarPalabra", "Ahorcado"))
                        {

                            <label>Arriesgar Palabra </label>
                            <br />
                            <input type="text" name="palabraIngresada" id="palabraIngresada" class="form-control" />

                            <input class="form-control" id="submit" type="submit" value="Arriesgar" />

                        }
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <label>Arriesgar Letra  </label> <br /> <input type="text" maxlength="1" id="letIngre" class="form-control" /><button type="button" class="form-control">Arriesgar</button><br />
                    </td>
                    <td class="right">
                        <img src="~/Imagenes/3 corazones.png" width="150" height="100" />
                        <br />
                        <label>Score: 0</label> <br />
                        <label>Palabra: **********</label> <br />
                        <label>Letras Ingresadas: </label> <br />
                    </td>
                </tr>
                <tr>
                    <td class="center-block">
                        <button type="button" class="btn btn-lg btn-primary">Otra partida</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <div>
        <h2>Estado Situación</h2>
        <ul>
            <li>Letras Adivinadas: <div id="estado"></div></li>
            <li>Score: <div id="score"></div></li>
            <li>Vidas Restantes: <div id="vidas"></div></li>
        </ul>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


